.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pending_info{
    width: 100%;
    padding: 4rem 0 2rem;
    margin-bottom: 3rem;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0599808);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hash {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    text-align: center;

    color: #4077C1;
}
.status {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;

    text-align: center;

    color: #3F4048;
}
.text_id,
.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;

    color: #787A81;
}