.wrapper{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}

.select {
    margin: 39px 0 19px 0;
    font-weight: 500; 
    font-size: 17px;
}

.wallet_input{
    display: flex;
}

.input{
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #D7D8DA;
}

.btn_copy{
    width: 100px;
    padding: 10px 15px;
    border: 0;
    color: #fff;
    background-color:#4077C1;
}
.btn_copy:hover{
    background-color:#22508d;
}
.btn_copy:active{
    background-color:#094390;
}

.btn{
    margin-top: 4rem;
    margin-right: 0;
    align-self: flex-end;
}