.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.action-btn{
  width: 132px;
  height: 40px;
  color: #fff;
  border: 0;
  background: radial-gradient(100% 100% at 49.7% 100%, #4077C1 0%, #4077C1 100%);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.action-btn:hover{
  background: radial-gradient(100% 100% at 49.7% 100%, #215395 0%, #1a4987 100%);
}

